<nav class="grid grid-cols-2 p-4 sm:grid-cols-3 sm:px-6 lg:px-8">
  <a href={~p"/"}>
    <h1 class="inline">🔥 hotties</h1>
  </a>
  <h2 class="text-right sm:text-center">
    {assigns[:page_title]}
  </h2>
</nav>
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="max-w-2xl mx-auto">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
