name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-lint:
    name: Build & Publish Container
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: podman login
        env:
          USER: ${{ github.actor }}
          PASSWORD: ${{ secrets.GITHUB_TOKEN }}
        run: podman login --username "$USER" --password "$PASSWORD" ghcr.io

      - run: podman system migrate

      - name: podman build linux/amd64
        run: podman build --format docker --platform linux/amd64 --manifest hot -f Containerfile .

      - name: podman manifest push latest
        run: podman manifest push hot ghcr.io/raffomania/hot:latest
        if: github.ref == 'refs/heads/main'
